extends layout

block content
  main
    .card(style='width: 60rem;')
      .card-body
        h5.card-title Grisen som ville få det bättre.
        p.card-text= story[0].bod
    each link in links
      a(href=link.target_id)
        button.btn.btn-outline-danger(type='button')= link.description