extends layout

block content
  main.container.w-50
    .card.mt-2.w-100.bg-dark.text-white
      img.card-img-top(src='/images/pig.jpg' alt='Gris')
      .card-body
        p.card-text= story[0].body
      .card-footer.d-flex.justify-content-between
        each link in links
          a.btn.btn-outline-danger(href=link.target_id)= link.description